.el-header {
  padding: 0;
  padding-right: 20px;
  background-color: #fff;
  .m-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo {
      width: 215px;
      height: 60px;
      background: url("~@/assets/img/logo.png") no-repeat center;
      background-size: 85% 85%;
    }
    #loginUser {
      width: 100px;
      button {
        color: red;
        padding: 0;
      }
    }
  }
}
