* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#app {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
